<h2>Quick Links</h2>

<ul>

    <li>
        <a href="{% url 'contact_list' %}">
            View Contact Messages
        </a>
    </li>

    <li>
        <a href="{% url 'service_list' %}">
            View Services
        </a>
    </li>

    <li>
        <a href="{% url 'service_create' %}">
            Add Service
        </a>
    </li>

    <li>
        <a href="{% url 'gallery_list' %}">
            View Gallery
        </a>
    </li>

    <li>
        <a href="{% url 'gallery_create' %}">
            Add Gallery Image
        </a>
    </li>

    <li>
        <a href="{% url 'offer_list' %}">
            View Offers
        </a>
    </li>

    <li>
        <a href="{% url 'offer_create' %}">
            Add Offer
        </a>
    </li>

    <li>
        <a href="{% url 'latest_update_list' %}">
            View Latest Updates
        </a>
    </li>

    <li>
        <a href="{% url 'latest_update_create' %}">
            Add Latest Update
        </a>
    </li>

</ul>