{% extends 'base.html' %}

{% block content %}

<div class="form-container">

    <div class="form-box">

        <h2>
            Add Offer
        </h2>

        <form
            method="POST"
            enctype="multipart/form-data"
        >

            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn">
                Create Offer
            </button>

        </form>

    </div>

</div>

<style>

    .form-container{
        display:flex;
        justify-content:center;
        padding:40px 0;
    }

    .form-box{
        width:600px;
        background:white;
        padding:40px;
        border-radius:10px;
        box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    }

    input,
    textarea,
    select{
        width:100%;
        padding:12px;
        margin-bottom:20px;
        border:1px solid #ccc;
        border-radius:5px;
        box-sizing:border-box;
    }

    .btn{
        width:100%;
        padding:14px;
        background:black;
        color:white;
        border:none;
        border-radius:5px;
        cursor:pointer;
    }

</style>

{% endblock %}